<div class="col-12 col-md-8 border border-3 border-dark rounded m-4 d-flex flex-wrap">
    <p class="col-12 p-2 bg-dark text-light">{{text}}</p>
    <p class="col-12">-{{user.username}}, {{format_time created_at}}</p>
</div>