<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body class="row">
    <section class="col-12 bg-dark d-flex align-items-center flex-wrap">
      <nav class="col-12 col-md-4">
        <a href="/" class="m-3">Home</a>
        {{#if loggedIn}}
          <a href="/dashboard" class="m-3">Dashboard</a>
          <button id="logout" class="btn btn-primary m-3">Logout</button>
        {{else}}
          <a href="/login" class="m-3">Login</a>
        {{/if}}
      </nav>
      <header class="col-12 col-md-4 text-center text-dark border border-3 border-success rounded bg-success">
        <h1>Can You Tech It?</h1>
      </header>
    </section>
    <main class="row bg-success">
      {{{body}}}
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>