<section>
    <header>
        <h3>{{blog.title}} Posted by {{blog.user.username}} on {{blog.created_at}}</h3>
    </header>
    <p>{{blog.text}}</p>

    <div>
        {{#each blog.comments as |comment|}}
        {{> comment-details}}
        {{/each}}
    </div>

    <div>
        <form class="form comment-form">
            <div class="form-group">
                <label for="email-login">Comment:</label>
                <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>

</section>