<div class="row">
  <form class="form blog-form col-12 col-md-8 border border-3 border-dark rounded m-4 text-center bg-dark">
    <div class="form-group m-2">
      <label for="update-title" class="text-light">Title:</label>
      <input
        class="form-input"
        type="text"
        id="update-title"
        value="{{blog.title}}"
      />
    </div>
    <div class="form-group">
      <label for="update-text" class="text-light">Text:</label>
      <input
        class="form-input"
        type="text"
        id="update-text"
        value="{{blog.text}}"
      />
    </div>
    <div class="form-group m-2">
      <button
        class="btn btn-primary"
        type="submit"
        id="submit-blog"
      >Submit</button>
    </div>
  </form>
</div>
<div class="form-group col-12 col-md-8 text-center">
  <button class="btn btn-danger" type="submit" id="delete-blog">Delete</button>
</div>

<script src="../js/update-blog.js"></script>